body {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.game-intro {
    width: 90vw;
    height: 95vh;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    background-image: url("assets/ulbricht-worker.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#instructions {
    width: 35vw;
    margin-bottom: 4vh;
}

.instructions h1 {
    font-family: 'Press Start 2P', Courier, monospace;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.instructions h1 img {
    width: 2.5rem;
}

.instructions q {
    font-style: italic;
}

#quote {
    text-align: right;
    margin-top: -0.1vh;
    margin-bottom: 5vh;
}

#button-container {
    text-align: center;
}

.button {
    background-color: orange;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    border: 3px solid;
    font-family: 'Press Start 2P', Courier, monospace;
}

.button:hover {
    border: 3px solid white;
    transform: scale(1.3);
}

#music-Btn {
    margin-bottom: 3rem;
    margin-top: -2rem;
}

.game-board {
    width: 90vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("assets/wall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#score {
    position: fixed;
    top: 2em;
    font-weight: bold;
    margin-bottom: -3vh;
}

#score > h2 {
    font-family: 'Press Start 2P', Courier, monospace;
}

#score ul {
    list-style: none;
    padding-left: 0;
}

.game-over {
    width: 90vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("assets/GameOver_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.game-over > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-over h2 {
    font-family: 'Press Start 2P';
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    width: 80vw;
}

.game-over p {
    font-size: 2rem;
    max-width: 80vw;
    text-align: center;
    margin-top: -0.3em;
}
